<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
            <div class = "col-sm-12">
          <h1 class="display-4">Mission to Mars</h1>
          <button type="button" class="btn btn-primary btn-lg"> Scrape Mars Data</button>
        </div>
        </div>
        </div>
    </div>

    <!-- Latest News-->
    <div class="container">
        <div class="row">
            <div class = "col-sm-12">
                <h3 style="color: darkgray;">{{ mars_dict.news_title }}</h3>
                <hr>
                <p>{{ mars_dict.news_title }}</p>
            </div>
        </div>
    </div>
    <!--Latest Images-->
    <div class="container">
        <div class="row">
            <div class = "col-sm-8">
                <div class="box">
                <h3 style="color: darkgray;"> Featured Images</h3>
                <hr>
                <img src="{{mars_dict.featured_image}}", alt="image">
            </div>
            </div>
            <!-- Current Weather-->
            <div class="col-sm-6 col-md-8">
                <div class="box">
                <h5 style="color: dimgray;"> Current Weather</h5>
                <p>{{ mars_dict.mars_weather }}</p>
            </div>
            </div>
        </div>
    </div>


</body>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>